<div class="header-wrap">
  <div class="logo">
    <h2>CC</h2>
  </div>
  <div class="menu">
    <ul>
      <li><a href="/createCsvFile">Create CSV File</a></li>
      <li><a href="/data.csv" download="">Download CSV File</a></li>
      <li><a href="#"><%= user.username%></a></li>
      <li><a href="/user/logout">Logout</a></li>
    </ul>
  </div>
</div>
