<div class="sidebar">
    <div class="menu">
        <ul>
            <li>
                <a href="/batch">Batch</a>
            </li>
            <li>
                <a href="/student">Students</a>
            </li>
            <li>
                <a href="/score">Scores</a>
            </li>
            <li>
                <a href="/interview">Interviews</a>
            </li>

            <li>
                <a href="/student/result">Result</a>
            </li>
        </ul>
    </div>
</div>