<div class="sidebar">
    <div class="menu">
        <ul>
            <li>
                <a href="/">home</a>
            </li>
            <li>
                <a href="/">List Of Students</a>
            </li>
            <li>
                <a href="/student/add">Add New Student</a>
            </li>
            <li>
                <a href="#">List of Interviews</a>
            </li>
            <li>
                <a href="#">Schedule New Interview</a>
            </li>
            <li>
                <a href="#">Result</a>
            </li>
        </ul>
    </div>
</div>