<%- include('_header')%>
    <%- include('_sidebar')%>

        <div class="main">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>batch</th>
                        <th>Status</th>

                        <th>DSA Score</th>
                        <th>WebD Score</th>
                        <th>React Score</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Saquib Ajaz</td>
                        <td>Dec-2022</td>
                        <td>Not Placed</td>
                        <td>80%</td>
                        <td>80%</td>
                        <td>80%</td>
                        <td>
                            <a href="#"><span class="material-symbols-outlined">
                                    edit
                                </span></a>
                            <a href="#">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <%- include('_footer')%>